<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Центр Детейлинга{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monotype+Corsiva&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <nav>
        <div class="logo"><a href="{{ url_for('index') }}">Центр Детейлинга</a></div>
        <a class="mr-auto"></a>
        <button id="theme-toggle">Переключить тему</button>
        <ul>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Выйти</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Войти</a></li>
                <li><a href="{{ url_for('register') }}">Зарегистрироваться</a></li>
            {% endif %}
        </ul>

    </nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy; 2023 Центр Детейлинга. Все права защищены.</p>
</footer>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();

    document.getElementById('theme-toggle').addEventListener('click', function () {
        document.body.classList.toggle('dark-theme');
    });
</script>
</body>
</html>
