{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <section id="services" class="services" data-aos="fade-up">
        <div class="container">
            <h2>Наши Услуги</h2>
            <div class="service-cards">
                {% for service in services %}
                    <div class="service-card" data-aos="zoom-in">
                        <a class="service-details" href="{{ url_for('service_detail', service_id=service.id) }}">
                            <img src="{{ url_for('static', filename='img/' + service.image) }}"
                                 alt="{{ service.name }}">
                            <h3>{{ service.name }}</h3>
                            <p>{{ service.description }}</p>
                        </a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
    <section id="contact" class="contact" data-aos="fade-up">
        <h2>Контакты</h2>
        <p>Свяжитесь с нами сегодня, чтобы записаться на прием и почувствовать разницу!</p>
        <p>Телефон: +7 (123) 456-78-90</p>
        <p>Email: info@detailingcenter.ru</p>
    </section>
{% endblock %}
