<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <nav>
        <div class="logo"><a href="{{ url_for('index') }}">Центр Детейлинга</a></div>
        <ul>
            <li><a href="{{ url_for('login') }}">Войти</a></li>
        </ul>
    </nav>
</header>
<main>
    <section class="form-section">
        <h2>Регистрация</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% if err != "OK" %}
                <span class="error">{{ err }}</span>
                {% endif %}
                {% for error in form.username.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32) }}<br>
                {% for error in form.password.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label }}<br>
                {{ form.confirm_password(size=32) }}<br>
                {% for error in form.confirm_password.errors %}
                <span class="error">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn") }}
            </div>
        </form>
    </section>
</main>
<footer>
    <p>&copy; 2023 Центр Детейлинга. Все права защищены.</p>
</footer>
</body>
</html>
